<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aquar.myaquar_egypt">
    <!-- permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.Contact_us"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Activity.TermsAndPolicies"
            android:screenOrientation="portrait" />
        <activity android:name=".Activity.AboutUs"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.EventsAndNewsDetails"
            android:screenOrientation="portrait"/> <!-- metaData -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebookID" /> <!-- activities -->
        <activity
            android:name=".Activity.EventsAndNews"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Filter"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activity.PanoramaView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Projectdetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.struct_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Splash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".Activity.Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Category"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".Activity.SearchResult"

            android:screenOrientation="portrait"
            >
        </activity>


    </application>

</manifest>